
.icon-arrows-cw:before { content: '\25b6'; } /* '▶' */
.icon-play:before { content: '\e800'; } /* '' */
.icon-stop:before { content: '\e801'; } /* '' */
.icon-pause:before { content: '\e805'; } /* '' */
.icon-language:before { content: '\e806'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-mute:before { content: '\f131'; } /* '' */
.icon-language-1:before { content: '\f1ab'; } /* '' */
