.demo-card-wide.mdl-card {
	width: 400px;
	background: #28292a;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 120px;
  text-shadow: 0px 0px 10px #000000;
  background: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.reload {
  color: #fff !important;
}
.mdl-button--raised {
  background: #9b9b9b !important;
  padding: 0 0 !important;
  width: 100%;
}
.playing {
  background: lightgreen !important;
}
body {
  padding: 20px;
  background: #141616;
  position: relative;
  width: auto !important;
}

.mdl-button--fab {
  margin: 10px !important;
}

.mdl-card__supporting-text {
	color: #fff !important;
}

.prevent-select { /* feels more like an app*/
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}